<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>21 Cineplux</title>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar('bioskop')"></nav>

<div class="container">
  <div class="card m-4 p-4">
    <div class="card-body">
      <div class="justify-content-center">
        <p th:text="${msg}" class="alert alert-info" role="alert"></p>
        <a class="btn btn-primary" href="/">Home</a>
        <a th:href="@{/user/viewall}" class="mx-2 btn btn-outline-warning">Kembali</a>

      </div>
    </div>
  </div>
</div>
</body>
</html>