<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>21 Cineplux</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <meta charset="UTF-8">
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar('user')"></nav>
<div th:if="*{listUser.size() != 0}">
    <table class="table">
        <thead>
        <tr>
            <th>No</th>
            <th>Id</th>
            <th>Email</th>
            <th>Nama</th>
            <th>Username</th>
            <th>Role</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user, iterationStatus : ${listUser}">
            <td th:text="${iterationStatus.count}"></td>
            <td th:text="${user.id}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.nama}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.role.getRole}"></td>
            <td><a th:href="@{/user/delete/}+${user.id}" class="btn btn-outline-info">Hapus User</a></td>
        </tr>
        </tbody>
    </table>
    </form>
    <a th:href="@{/user/add}" class="mx-2 btn btn-outline-warning">Tambah User Baru</a>
</div>
</body>
</html>